<%- include('includes/head.ejs') %>

  <section class="hero">
    <div class="hero-text">
      <h1>Seu portal de notícias de tecnologia favorito.</h1>
      <p>Toda semana uma novidade imperdível do mundo da tecnologia diretamente no seu e-mail!</p>
      <a href="#">Descubra</a>
    </div>
    <div class="hero-img">
      <img src="/img/hero.svg">
    </div>
  </section>

  <main class="posts-container">
    <% if (posts.length > 0) { %>
      <% for (let post of posts) { %>
        <div class="blog-post">
          <div class="post-img">
            <img src="<%= post.imgUrl %>">
          </div>
          <h3 class="post-title"><%= post.title %></h3>
          <p class="post-description"><%= post.description %></p>
          <a href="/posts/<%= post.id %>" class="post-button">Acessar</a>
        </div>
    <% } } %>
  </main>

    
<%- include('includes/footer.ejs') %>