<%- include('includes/head.ejs') %>

  <div class="top-container">
    <div class="container-text">
      <h1>Seus resultados de pesquisa</h1>
      <p>Pesquisa por <span><%= search %></span></p>
    </div>
  </div>

  <div class="posts-container">
    <% if (posts.length > 0) { %>
      <% for (let post of posts) { %>
        <div class="blog-post">
          <div class="post-img">
            <img src="<%= post.imgUrl %>">
          </div>
          <h3 class="post-title"><%= post.title %></h3>
          <p class="post-description"><%= post.description %></p>
          <a href="/posts/<%= post.id %>" class="post-button">Acessar</a>
        </div>
    <% } } %>
  </div>
 
<%- include('includes/footer.ejs') %>