<%- include('includes/head.ejs') %>

    <div class="top-container">
        <h1><%= post.title %></h1>
        <small><%= post.createdAt %></small>
    </div>

    <div class="post-info">
        <h4>Descrição:</h4>
        <p><%= post.description %></p>

        <p><%= post.text %></p>
    </div>

    
<%- include('includes/footer.ejs') %>