<%- include('includes/head.ejs') %>

    <div class="header-single-post">
        <h1><%= post.title %>
            <span>Enviado <%= post.createdAt.toLocaleDateString() %></span>
        </h1>
        <div class="post-img">
            <img src="<%= post.imgUrl %>">
        </div>
    </div>

    <div class="post-info">
        <h5>Descrição:</h5>
        <p><%= post.description %></p>
    </div>

    <div class="post-text">
        <p><%= post.text %></p>
    </div>

    
<%- include('includes/footer.ejs') %>