<%- include('includes/head.ejs') %>

    <div class="header-single-post">
        <h1><%= post.title %>
            <span>Enviado <%= post.createdAt.toLocaleDateString() %></span>
        </h1>
    </div>

    <div class="post-info">
        <h4>Descrição:</h4>
        <p><%= post.description %></p>

        <p><%= post.text %></p>
    </div>

    
<%- include('includes/footer.ejs') %>